.inner-content {
  cursor: pointer;
}
.inner-content a {
  text-decoration: none;
}
.bor {
  /* position: absolute; */
  width: 100%;
  border-left: 6px solid #ffe227;
  height: 100px;
  margin-left: 13px;
  margin-bottom: -18px;
  /* margin-bottom: -20px; */
}
.bor h5 {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 700;
  margin-left: 10px;
}
.bor h3 {
  margin-left: 10px;
  font-size: 20px;
  font-weight: bolder;
  color: #14274e;
}
/* .inner-content .icon{
    position: absolute;
    right: 0%;
    margin-top: -25px;
} */
.like {
  /* position: relative; */
  display: flex;
}
@media(max-width:690px){
  .like a img{
    width: 150px;
  }
 
}

.like .icn {
  position: initial;
  margin-top: -20px;
  /* right: -15px;
  top: -23px; */
}
.color {
  color: #f14668;
}
