@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.links{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    padding: 10px;
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.2);
    background-color: #f9fcfb;
}
.links a{
    margin-left: 30px;
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 0, 0.7);
    
}
.links a:hover{
    color:#64dfdf ;
}
.links a:active{
    color: black;
}
.links a:first-child{
   margin-left: 100px;
}
.add{
    position: absolute;
    margin-top: 39px;
    width: 100%;
    padding-top: 5px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.add h4{
    padding-top: 15px;
    
    margin-left: 40px;
}
.popsearch{
    padding-top: 15px;
    padding-bottom: 10px;
}
.popsearch a{
    text-decoration: none;
    font-weight: normal;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 0, 0.8);
    padding-left: 10px;
    padding-right: 10px;
}
.popsearch a:first-child{
    padding-left: 0%;
    margin-left: 30px;
}
.popsearch a:hover{
    color: black;
}
.popsearch a:active{
    color: grey;
}
.image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.image img{
    width: 1200px;
    min-width: 400px;
    height: 150px;
    min-height: 50px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.image .low{
    width: 800px;
    min-width: 400px;
    height: 100px;
    min-height: 50px;
    margin-left: 10px;
    margin-bottom: 10px;
}