
div.top{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:#f9f9f9;
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    width: 100%;
}
img{
    margin-left: 30px;
    width: 50px;
    height: 50px;
}
.input-value{
    position: relative;
    display: flex;
    margin-left: 15px;
    background-color: #f9fcfb;
    border: 2px solid;
    padding: 5px;
    border-radius: 5px;
    width: 300px;
    /* min-width: 200px; */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.input-value:active{
    border: 2px solid #51e3d4;
}
.input-value i{
    margin-top: 7px;
}
.input-value .arrow{
    position: absolute;
    left: -20px;
}

.input-value input{
    border: none;
    outline: none;
    font-size: 1em;

    background-color: transparent;
    padding: 5px;
    margin-top: 2px;
}
.main div.location{
    display: none;
}
.main .input-value:active > div.location{
    display: block;
}
.search{
    display: flex;
    border: 2px solid;
    padding-left: 40px;
    margin-left: 15px;
    /* resize: both; */
    min-width: 100px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.search:active{
    border-color: #51e3d4;
}
.search input{
    border: none;
    outline: none;
    font-size: 1em;
    background-color: transparent;
    padding: 5px;
    width: 700px;
    min-width: 100px;
    position: relative;
}
.search i{
    padding: 11px;
    background-color: #025955;
    color: white;
    background-size: cover;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.info{
    display: flex;
    padding: 8px;
    /* margin-left: 30px; */
}
.but{
    position: relative;
    width: 90px;
    text-align: center;
    margin-left: 30px;
    padding: 5px;
    cursor: pointer;
    border-top: 4px  solid #64dfdf;
    border-right: 4px solid #21209c;
    border-bottom: 4px solid #ffbe0f;
    border-left:  4px solid #cc0e74;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.but button{
    cursor: pointer;
}
.but:active{
    background-color: #e1f4f3;
}
.but button:active{
    background-color: #e1f4f3;
}
.info .but {
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.5);
    
}
.info .but i{
    position: absolute;
    right: 30px;
    top: 10px;
    font-size: 1.2em;
}
 .info a {
     margin-left: 20px;
     color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    margin-top: 7px;
    text-decoration: none;
}
.info a:hover{
    color: #21bf73;
}
.info a:active{
    color: #b0eacd;
}
.info .but:hover{
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}
/* .info .but :active{
    /* transform: scale(0.5);
    transition-delay: 1ms;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5); 
} */
.info button{
    background-color: transparent;
    border: none;
    outline: none;
}
@media(max-width:740px){
    .search{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100px;
        min-width: 100px;
        max-width: 400px;
        border-right: none;
        padding-left: 0%;
        margin-right: 30px;
        border: none;
    }
    .search ::placeholder{
        color: transparent;
    }
    .search input{
        margin-left: 70px;
        border: 2px solid;
        padding: 10px;
        border-right: none;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .search i{
        margin-right: 20px;
        padding: 13px;
    }
    .but {
        margin-right: 50px;
    }
    .info{
        margin-left: 20px;
    }
    .info a{
        margin-left: 10px;
    }
    .info .but{
        display: flex;
        margin-left: 30px;
        align-items: center;
        justify-content: center;

    }
    .info .but{
        padding: 15px;
    }
    img{
        margin-left: 9px;
    }
}
@media(max-width:1321px){
    #dispear{
        display: none;
    }
}