.display{
  display: inline-flex;
  justify-content: space-between;
  margin-left: 40px;
}
/* .cards{
  display:inline-flex;
  justify-content: space-between;
 
} */
.container a{
    text-decoration: none;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  border: 1px solid rgba(0, 0, 0, 0.7);
  margin-top: 40px;
}
.container .imga{
  display: flex;
  flex-direction: row;
}
.container .imga .icns{
  margin-top: -40px;
  margin-right: 10px;
  cursor: pointer;
}
.container .imga img {
  width: 200px;
  height: 100px;
  padding-right: 25px;
  margin-top: -20px;
}
.container .lower {
  /* position: relative; */
  width: 100%;
  border-left: 6px solid #ffe227;
  height: 120px;
  margin-bottom: -39px;
}
.container .lower h2,h5{
    /* position: absolute; */
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.6);
}
.container .lower h2{
      color: #14274e;
}
.colors{
  color: #f14668;
}