@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    width: 100%;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}
/* @media(max-width:690px){
    body{
        overflow-y: scroll;
        overflow-x: hidden;
    }
} */